<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
 xmlns="http://java.sun.com/xml/ns/j2ee" 
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
 http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<servlet>
		<description>发起支付请求</description>
		<display-name>发起支付请求</display-name>
		<servlet-name>PaymentRequest</servlet-name>
		<servlet-class>com.coc.servlet.PaymentRequest</servlet-class>
	</servlet>
	<servlet>
		<description>响应支付结果请求</description>
		<display-name>响应支付结果请求</display-name>
		<servlet-name>PaymentResutlResponse</servlet-name>
		<servlet-class>com.coc.servlet.PaymentResutlResponse</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PaymentRequest</servlet-name>
		<url-pattern>/servlet/yeepay/paymentRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaymentResutlResponse</servlet-name>
		<url-pattern>/servlet/yeepay/response</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
