*{
	padding:0;
	margin:0;
}
body{
	background:#456;
}
#center{
	width:400px;
	heigth:600px;
	position:absolute;
	left:40%;
	top:40%;
	background:#00FF04;
	background-image:url('image/pic.jpg');
}

#hh{
text-align:center;
}

#div_zc{
	width:400px;
	heigth:600px;
	position:absolute;
	left:40%;
	top:40%;
	background:#00FF04;
	background-image:url('image/pic.jpg');
}

#p1{
	float:right;
}